body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viewport {
    height: 600px;
    width: 400px;
}

main {
    display: flex;
    justify-content: center;
}

nav {
    padding: 19px;
    display: flex;
    justify-content: space-between;
}

nav svg {
    width: 34px;
    height: 34px;
}

#paw {
    width: 20px;
    height: 20px;
    padding: 11px 32px;
    border-radius: 25px;
    background: linear-gradient(to left, #F83375 2.5%, #F83773 2.5%, #FA695A);
}

#paw path {
    fill: white;
}



main img {
    width: 98%;
    height: 550px;
    object-fit: cover;

    border-radius: 15px;
}